<div id="<%= dom_id invoice %>">
  <p>
    <strong>Customer name:</strong>
    <%= invoice.customer_name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= invoice.description %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= invoice.amount %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= invoice.date %>
  </p>

</div>
