<div class=" mt-10 container">
<h1>Facturas</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Nombre del cliente</th>
        <th>Descripción</th>
        <th>Monto</th>
        <th>Fecha</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @invoices.each do |invoice| %>
        <tr>
          <td><%= invoice.customer_name %></td>
          <td><%= invoice.description %></td>
          <td><%= number_to_currency(invoice.amount) %></td>
          <td><%= invoice.date %></td>
          <td>
            <%= link_to 'Ver', invoice, class: "btn btn-primary" %>
            <%= link_to 'Editar', edit_invoice_path(invoice), class: "btn btn-primary" %>
            <%= link_to 'Eliminar', invoice, data: { turbo_method: :delete, turbo_confirm: '¿Estás seguro?' }, class: "btn btn-danger"%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Nueva Factura', new_invoice_path, class: "btn btn-dark" %>
</div>


